**Assignment 1**

1) Implement 10 combinations of Data operators ( +, -, *, /, //, %) between 2 simple arrays.

In [1]:
#arrays a,b
a = [10,20,30]
b = [2,4,5]

In [2]:
#1.Addition
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i]+b[j])

12
24
35

In [3]:
#3.Subtraction
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i]-b[j])

8
16
25

In [4]:
#3.Multiplication
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i]*b[j])

20
80
150

In [5]:
#4.Division
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i] / b[j])

5.0
5.0
6.0

In [6]:
#5.Floor division
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i] // b[j])

5
5
6

In [9]:
#6.Modulus
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i] % b[j])

0
0
0

In [30]:
#7.power
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      print(a[i] ** b[j])

100
160000
24300000

In [39]:
#8.printing sum of two array elements
sum=0
for i in range (len(a)):
  for j in range (len(b)):
    if i==j:
      sum=sum+a[i]+b[j]
print("sum of array elements is",sum)

sum of array elements is 71

In [62]:
#9.add constant to array a
for i in range (len(a)):
      a[i]=a[i]+2
      print(a[i])

28
38
48

In [63]:
#10.mutiply array b by constant
for i in range (len(b)):
      b[i]=b[i]*2
      print(b[i])

12
16
18

2) Implement 2 examples each of " For " loop and " While " loop using python

In [64]:
# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [65]:
# Print elements of a list
colors = ["Red", "Green", "Blue"]
for color in colors:
    print(color)

Red
Green
Blue

In [66]:
# Print numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [67]:
# Countdown from 5 to 1
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1